body {
  margin: 0;
  padding: 0;
  font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;

  cursor: url(https://s-media-cache-ak0.pinimg.com/236x/ff/76/08/ff7608f6300b109e69f992f699809c4a.jpg), auto;
}
